{% extends "base.twig" %}

{% block title %}Article{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {% include 'header.twig' %}
    <div class="container">
        <div class="blog-header">
            <h1 class="blog-title">MPWAR Performance Blog</h1>
            <p class="lead blog-description">Exercise for the Perfomance subject of MPWAR</p>
        </div>
        <div class="row">
            <div class="col-sm-8 blog-main">
                <div class="blog-post">
                    <h2 class="blog-post-title">
                        <a href="{{ path('article', {article_id: article.id}) }}">{{ article.title }}</a>
                    </h2>
                    <p class="blog-post-meta">
                        by {{ article.author.username }}, on {{ article.date | date("d/m/Y H:i") }}
                    </p>
                    <p>
                        {{ article.content }}
                    </p>
                    <p>
                        <a class="btn btn-info" href="{{ path('editArticle', {article_id: article.id}) }}">Edit</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}