<!DOCTYPE html>
    <meta charset="UTF-8">
    <head>
        {% block head %}
            <link rel="stylesheet" href="http://d2v0t5lxq45ibf.cloudfront.net/assets/components/bootstrap/dist/css/bootstrap.min.css">
            <link rel="stylesheet" href="http://d2v0t5lxq45ibf.cloudfront.net/assets/components/styles/blog2.min.css">
            <title>{% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
        <script src="http://d2v0t5lxq45ibf.cloudfront.net/assets/components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="http://d2v0t5lxq45ibf.cloudfront.net/assets/components/jquery/dist/jquery.min.js"></script>
    </body>
</html>
