{% extends "base.twig" %}

{% block title %}Edit Article{% endblock %}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="http://d2v0t5lxq45ibf.cloudfront.net/assets/components/styles/form.min.css">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <h1>Edit Article</h1>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form method="POST" action="{{ path('editArticle', {article_id: article.id}) }}">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="title" id="title" value="{{ article.title }}" />
                                    <input type="hidden" name="article_id" id="article_id" value="{{ article.id }}" />
                                </div>
                                <div class="form-group">
                                    <textarea name="content" class="form-control" id="content" rows=20> {{ article.content }}</textarea>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input tabindex="4" class="form-control btn btn-login" placeholder="content" type="submit" value="Edit"/>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}