<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item" href="{{ path('home')}}">Home</a>
            <a class="blog-nav-item" href="{{ path('writeArticle')}}">Write Article</a>
            <a class="blog-nav-item" href="{{ path('register')}}">Register</a>
            <a class="blog-nav-item" href="{{ path('login')}}">Login</a>
            <a class="blog-nav-item" href="{{ path('logout') }}">Logout</a>
            {% if author %}
                <h3 class="blog-nav-item nav navbar-nav navbar-right">{{author.username}}<img id="profile-picture" src="https://d2v0t5lxq45ibf.cloudfront.net/profilePicture/{{ author.username }}/{{ author.pictureName }}"></h3>
            {% endif %}
        </nav>
    </div>
</div>