{% extends "base.twig" %}

{% block title %}Blog{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {% include 'header.twig' %}
	<div class="container">
		<div class="blog-header">
			<h1 class="blog-title">MPWAR Performance Blog</h1>
			<p class="lead blog-description">Exercise for the Perfomance subject of MPWAR</p>
		</div>
		<div class="row">
			<div class="col-sm-8 blog-main">
				{% for article in articles %}
					<div class="blog-post">
						<h2 class="blog-post-title"><a href="{{ path('article', {article_id: article.id}) }}">{{ article.title | title }}</a></h2>
						<p class="blog-post-meta">by {{ article.author.username }}, on {{ article.date | date("d/m/Y H:i") }}</p>
						<p>
							{% if article.content | length > 100 %}
								{{ article.content | slice(0,100) }}
								<a href="{{ path('article', {article_id: article.id}) }}">more&hellip;</a>
							{% else %}
								{{ article.content }}
							{% endif %}
						</p>
					</div>
				{% else %}
					<h1>There are no articles to show</h1>
				{% endfor %}
			</div>
			<div class="col-sm-4">
				<div class="panel panel-primary">
					<div class="panel-heading">General Top 5 Articles</div>
					<div class="panel-body">
						<ol>
                            {% for topArticle in generalTop5 %}
								<li><a href="{{ path('article', {article_id: topArticle.id}) }}"> {{ topArticle.title}} </a></li>
                            {% endfor %}
						</ol>
					</div>
				</div>
				{% if userTop5 %}
					<div class="panel panel-primary">
						<div class="panel-heading">User Top 5 Articles</div>
						<div class="panel-body">
							<ol>
                                {% for userTopArticle in userTop5 %}
									<li><a href="{{ path('article', {article_id: userTopArticle.id}) }}"> {{ userTopArticle.title}} </a></li>
                                {% endfor %}
							</ol>
						</div>
					</div>
                {% endif %}
			</div>
		</div>
	</div>
{% endblock %}