{% extends "base.twig" %}

{% block title %}LogIn{% endblock %}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="http://d2v0t5lxq45ibf.cloudfront.net/assets/components/styles/form.min.css">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                        <h1>Login</h1>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="login-form" action="{{ path('login') }}" method="POST" role="form">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Username" id="username" name="username" required />
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Password" id="password" name="password" required />
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input tabindex="4" class="form-control btn btn-login"  type="submit" value="Login" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}