{% extends "base.twig" %}

{% block title %}Write Article{% endblock %}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="http://d2v0t5lxq45ibf.cloudfront.net/assets/components/styles/form.min.css">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <h1>Write Article</h1>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form action="{{ path('writeArticle') }}" method="POST">
                                <div class="form-group">
                                    <input class="form-control" placeholder="Title" type="text" name="title" id="title" />
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" rows=20 name="content" id="content"></textarea>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input tabindex="4" class="form-control btn btn-login" placeholder="content" type="submit" value="Save" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}